<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="span">Imagica - Image File Uploader by Ashwini Kedari</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
      <span class="span">
          <span>
            <table>
              <tr>
                <td style="padding: 20px"> 
                  <!-- Default Image List -->  
                  <a routerLink="/">Images List</a>
                </td>
                <td style="padding: 20px">
                  <!-- New Image Link -->
                    <a mat-button routerLink="/newimage" routerLinkActive="mat-accent">New Image</a>
                </td>
              </tr>
            </table>
            </span>

      </span>
  </mat-toolbar-row>
</mat-toolbar>
